@model NutritionSite.Models.Food

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Food</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServingSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServingSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServingSizeType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServingSizeType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Calories)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Calories)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Protein)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Protein)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Carbs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Carbs)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
